.button {
    background-color: $blue;
    border: none;
    color: $white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    outline: none;
    padding: $s-size;
    text-decoration: none;

    &--link {
        background-color: transparent;
    }

    &--secondary {
        background-color: $light-grey__button;
    }

    &--login {
        align-items: center;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $s-size;
        }

        &__google {
            background-color: $red-google;
        }

        &__facebook {
            background-color: $blue-facebook;
        }

        &__github {
            background-color: $blue-github;
        }

        &__twitter {
            background-color: $blue-twitter;
        }

        .social-icon {
            height: 24px;
            width: 24px;
        }
    }
}